.about {
  margin: 0 auto;
  padding: 140px 20px;
  background-image: url("../../images/about_bcg_thinkbig4.png");
  background-size: 110%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  position: relative;
}
.about__decor {
  position: absolute;
  width: 240px;
  left: calc(50% - 120px);
  top: 0;
  height: 80px;
  background-image: url("../../images/decor/Ornament22.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.about__container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}
.about__header {
  font-weight: 600;
  font-size: 34px;
  line-height: 28px;
  margin-bottom: 50px;
}
.about__content {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about__portrait {
  opacity: 0.1;
  min-width: 280px;
  width: 70%;
  /* max-width: 280px; */
  min-height: 280px;
  border-radius: 50%;
  align-self: center;
  transform: rotate(-90deg);
  flex-shrink: 1;
}
@media (min-width: 544px) {
  .about__portrait {
    max-width: 370px;
    max-height: 370px;
    transform: rotate(-90deg);
  }
}

/* @media (min-width: 668px) {
  .about__portrait {
    max-width: 315px;
    max-height: 315px;
  }
} */
@media (min-width: 768px) {
  .about__content {
    flex-direction: row;
  }
  .about__portrait {
    max-width: 350px;
  }
}

.about__text-block {
  margin: 0 auto;
  width: 80%;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__maintext {
  text-align: justify;
  width: 100%;
  min-width: 280px;
}
@media (min-width: 544px) {
  .about__maintext {
    text-align: justify;
    width: 100%;
    min-width: 300px;
  }
}
.about__title {
  font-weight: 600;
}
