/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* dark white #eee; */
/* orange #ffcb46; */
/* violet #8a00b4; */
/* new viol #8822aa; */
/* new ora #ff8800; */

body {
  max-width: 100%;
  /* background: #c9c8c8; */
  background: #f5f5f5;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#root {
  width: 100%;
}
.page {
  margin: 0 auto;
}

.back-top {
  display: block;
  width: auto;
  float: right;
  height: 34px;
  position: fixed;
  right: 23px;
  bottom: 23px;
  z-index: 999;
  transition: opacity 0.4s ease-in-out, visibility 0.4s;
}
.back-top-link {
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 34px;
  background: #ffcb46;
  background-image: url("../../images/back_top.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}
.back-top-link:hover {
  color: purple;
}

::-webkit-scrollbar {
  display: none;
}

._accent {
  color: #8822aa;
}
._section__header {
  font-weight: 600;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 0;
  text-align: center;
  opacity: 0.21;
  z-index: 3;
}
._invert {
  color: #f5f5f5;
}
._huge {
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 420px) {
  ._huge {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 768px) {
  ._huge {
    font-size: 56px;
    line-height: 56px;
  }
}
@media (min-width: 1024px) {
  ._huge {
    font-size: 62px;
    line-height: 62px;
  }
}

._container {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  ._container {
    margin-top: 44px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1024px) {
  ._container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  ._container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

._container-narrow {
  max-width: 984px;
  /* padding: 0 148px; */
}
@media (min-width: 768px) {
  ._container-narrow {
    max-width: 984px;
    margin: 0 calc(48 * (100vw - 768px) / 256);
  }
}
@media (min-width: 1024px) {
  ._container-narrow {
    margin: 0 48px;
  }
}
@media (min-width: 1079px) {
  ._container-narrow {
    margin: 0 auto;
    /* padding-top: 56px; */
  }
}
/* @media (min-width: 1280px) {
  ._container-narrow {
    padding: 0 148px;
  }
}

@media (min-width: 1280px) {
  ._container-narrow {
    padding: 0 148px;
  }
} */
._container-wide {
  max-width: 1184px;
  /* padding: 0 48px; */
}
@media (min-width: 768px) {
  ._container-wide {
    max-width: 984px;
    margin: 0 calc(24 * (100vw - 768px) / 256);
  }
}
@media (min-width: 1024px) {
  ._container-wide {
    margin: 0 24px;
  }
}
@media (min-width: 1079px) {
  ._container-wide {
    margin: 0 auto;
  }
}
._container-xtra {
  max-width: 1392px;
}
@media (min-width: 768px) {
  ._container-xtra {
    margin: 0 calc(24 * (100vw - 768px) / 672);
  }
}
@media (min-width: 1440px) {
  ._container-xtra {
    margin: 0 auto;
  }
}

._hide {
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.15s ease-in-out, visibility 0.15s; */
}
/* 
._container {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  ._container {
    margin-top: 44px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1024px) {
  ._container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  ._container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
} */
