.contacts {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 14px 25px;
}
@media (min-width: 768px) {
  .contacts {
    padding: 50px 18px 50px;
  }
}

.contacts__logo {
  width: 240px;
  margin-left: 14px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__logo {
    width: 300px;
    margin-bottom: 70px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__header {
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  margin-bottom: 50px;
}
.contacts__subheader {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__subheader {
    margin-top: 22px;
    margin-bottom: 36px;
    max-width: 870px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}
.contacts__social {
  min-width: 245px;
  margin: 0 auto;
  width: 60%;
  border-radius: 3px;
  transition: 0.25s;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
/* @media (min-width: 494px) {
  .contacts__social {
    flex-direction: row;
    justify-content: space-between;
    background: none;
    gap: 15px;
    width: 100%;
  }
}
@media (max-width: 630px) {
  .contacts__social {
    padding: 0;
  }
} */
@media (max-width: 767px) {
  .contacts__social {
    gap: 20px;
    padding: 0;
  }
  .contacts__social-item {
    line-height: 34px;
  }
}
@media (min-width: 768px) {
  .contacts__social {
    flex-direction: column;
    width: 35%;
    padding-left: 30px;
    justify-content: space-around;
    background-color: white;
  }
}
.contacts__social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contacts__social-item {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.contacts__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  box-sizing: content-box;
  border: 3px solid rgba(255, 255, 255, 0);
}
.contacts__social-link:hover,
.contacts__social-link:focus {
  cursor: pointer;
  border-radius: 50%;
  outline: 2px solid #8822aa;
}

.git {
  background-image: url("../../images/social/social_github.png");
}
.linked {
  background-image: url("../../images/social/social_linked.png");
}
.telegram {
  background-image: url("../../images/social/social_tele.png");
}
.email {
  background-image: url("../../images/social/social_mail.png");
}
.location {
  background-image: url("../../images/social/social_location.png");
}
