.edu {
  padding: 50px 14px;
}
@media (min-width: 768px) {
  .edu {
    padding: 90px 20px;
  }
}

.edu__container {
  align-items: center;
  justify-content: center;
}
.edu__header {
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  margin-bottom: 50px;
}
.edu__courses {
  margin-top: 40px;
}

.edu__row {
  width: 100%;
  display: flex;
  padding: 6px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-top: 1px solid #232323;
  font-size: 10px;
}

@media (min-width: 440px) {
  .edu__row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
  }
}
@media (min-width: 520px) {
  .edu__row {
    font-size: 12px;
    gap: 10px;
  }
}
@media (min-width: 620px) {
  .edu__row {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .edu__row {
    width: 100%;
    font-size: 16px;
    padding: 14px 12px;
    justify-content: space-between;
  }
}
.edu__row:last-of-type {
  border-bottom: 1px solid #232323;
}
.edu__control {
  min-width: 90px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

@media (min-width: 440px) {
  .edu__control {
    max-width: 140px;
    flex-direction: column-reverse;
    /* gap: 6px;` */
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media (min-width: 620px) {
  .edu__control {
    max-width: 160px;
  }
}

@media (min-width: 768px) {
  .edu__control {
    /* min-width: 44%; */
    width: 40%;
    max-width: 350px;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 890px) {
  .edu__control {
    gap: 30px;
  }
}
.edu__dates {
  display: inline-block;
  font-size: 1em;
  line-height: 16px;
  margin: 0;
  margin-left: auto;
}
@media (min-width: 440px) {
  .edu__dates {
    margin: 0;
  }
}
.edu__company {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}
.edu__theme {
  font-size: 1.2em;
  line-height: 18px;
  margin: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .edu__dates {
    font-size: 18px;
    line-height: 20px;
    min-width: 158px;
    text-align-last: justify;
  }
  .edu__company {
    text-align: left;
    line-height: 20px;
    font-size: 1.2em;
    max-width: 170px;
  }
  .edu__theme {
    font-size: 1.2em;
    line-height: 20px;
    text-align: left;
    width: 50%;
  }
}
@media (min-width: 890px) {
  .edu__dates {
    line-height: 28px;
    font-size: 24px;
    min-width: 214px;
    font-weight: 500;
    text-align-last: justify;
  }
  .edu__company {
    font-weight: 400;
    text-align: left;
    line-height: 28px;
    font-size: 20px;
    min-width: 154px;
  }
  .edu__theme {
    font-size: 1.2em;
    line-height: 20px;
  }
}
@media (min-width: 1024px) {
  .edu__theme {
    font-size: 1.2em;
    width: 55%;
  }
}

.edu__table {
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}
.edu__table-header {
  font-size: 16px;
  border-bottom: 1px solid #252525;
}
th {
  line-height: 32px;
}
td {
  max-width: 0;
  line-height: 28px;
}
.edu__table-body {
  font-size: 12px;
  border-bottom: 1px solid #252525;
}
@media (min-width: 544px) {
  .edu__table-header {
    font-size: 16px;
  }
  .edu__table-body {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .edu__table-header {
    font-size: 18px;
  }
  .edu__table-body {
    font-size: 16px;
  }
}
@media (min-width: 840px) {
  th {
    line-height: 50px;
  }
  td {
    line-height: 48px;
  }
}

@media (min-width: 1000px) {
  .edu__table-body {
    font-size: 18px;
  }
}
.column2 {
  width: 25%;
}
.column3 {
  /* min-width: 0; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.column1 {
  width: 20%;
  min-width: 70px;
  line-height: 18px;
}
