/* ------- EXP BLOCK ---------*/
.exp {
  background: rgb(222, 222, 222);
  position: relative;
}

.exp_top_bcg {
  position: absolute;
  background-image: url("../../images//exp_top.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  top: -72px;
  z-index: -10;
}
.exp_bottom_bcg {
  position: absolute;
  background-image: url("../../images//exp_bottom.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  bottom: -199px;
  z-index: -22;
}
@media (min-width: 768px) {
  .exp_bottom_bcg {
    bottom: -120px;
  }
}

.exp__header {
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  margin-bottom: 50px;
}

.exp__container {
  padding: 60px 14px 50px;
}

@media (min-width: 768px) {
  .exp__container {
    padding: 110px 20px 60px;
  }
}

.exp__jobs-container {
  margin-top: 45px;
}

.exp__known-companies {
  position: relative;
  padding: 30px 20px 60px;
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .exp__known-companies {
    padding: 40px 20px 140px;
  }
}
.exp__known-companies-title {
  margin-bottom: 0;
  font-weight: 500;
}
.exp__known-companies-subtitle {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .exp__known-companies-subtitle {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 45px;
  }
}

.exp__logo-container {
  display: flex;
  flex-direction: row;
  gap: 52px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

@keyframes floating {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.exp__company-image {
  height: 32px;
  animation: floating 2s infinite alternate ease-in-out;
  z-index: 4;
}
@media (min-width: 420px) {
  .exp__company-image {
    height: 40px;
  }
  .exp__logo-container {
    gap: 62px;
    row-gap: 34px;
  }
}
@media (min-width: 768px) {
  .exp__company-image {
    height: 50px;
  }
  .exp__logo-container {
    gap: 80px;
    row-gap: 40px;
  }
}

/* .exp__known-decor {
  position: absolute;
  width: 120%;
  left: -100px;
  top: 30px;
  height: 100%;
  background-image: url("../../images/decor/Vector2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
} */
.exp__known-decor_dots {
  position: absolute;
  height: 160px;
  width: 40px;
  background: url("../../images/decor/Ornament_16orange.png");
  background-size: 100%;
  background-repeat: no-repeat;
  right: 8%;
  bottom: -150px;
  z-index: 2;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .exp__known-decor_dots {
    height: 200px;
    width: 50px;
    bottom: -120px;
  }
}

@media (min-width: 1280px) {
  .exp__known-decor_dots {
    height: 240px;
    width: 60px;
    right: -80px;
    bottom: -120px;
  }
}
