.projects {
  max-width: 1080px;
  padding: 80px 20px 60px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .projects {
    padding: 110px 20px 80px;
  }
}
@media (min-width: 1280px) {
  .projects {
    padding: 140px 20px 120px;
  }
}
.gallery__container {
  margin-top: 45px;
}
.gallery__control {
  border-bottom: 2px solid #8a00b4;
}
@media (max-width: 670px) {
  .gallery__control {
    display: none;
  }
  .gallery__container {
    margin-top: 5px;
  }
}
.gallery__control-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 10px;
}
.gallery__control-item {
  position: relative;
  text-transform: uppercase;
}

.gallery__control-item-selected {
  color: #8a00b4;
  font-weight: 600;
}
.gallery__control-item:hover:after,
.gallery__control-item-selected::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -11px;
  left: calc(50% - 4px);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #8a00b4;
}

.gallery__control-item:hover {
  cursor: pointer;
  color: #8a00b4;
}

.gallery {
  list-style-type: none;
  padding: 30px 0 0;

  display: grid;
  margin: 0 auto;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/* ========= TILE BLOCK ========== */
.gallery__item {
  width: 100%;
  border-radius: 2px;
  max-width: 350px;
  margin: 0;
  overflow: hidden;
}
.item__container {
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.gallery__item-image {
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.2s;
}

.gallery__item-overlay {
  cursor: pointer;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #232323;
  z-index: 2;
  opacity: 0;
  transition: 0.15s opacity ease-in-out;
  background: #ff8800;
}
.gallery__item-overlay:visited {
  color: #232323;
}
.gallery__item:hover .gallery__item-overlay {
  opacity: 1;
}
.gallery__item:hover .gallery__item-image {
  transform: scale(1.04);
}
.gallery__item-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  z-index: 10;
}
