/* -------SKILLZ BLOCK ---------*/
.skillz {
  padding: 70px 14px 90px;
  position: relative;
}
.skillz__container {
  position: relative;
}
@media (min-width: 768px) {
  .skillz {
    padding: 70px 14px 140px;
  }
}
.skillz__header {
  font-weight: 500;
  font-size: 34px;
  line-height: 28px;
  margin-bottom: 50px;
}
.skillz__list {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  margin-top: 35px;
  padding: 14px 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  row-gap: 22px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .skillz__list {
    max-width: 800px;
    padding: 18px 24px;
    margin-top: 45px;
    gap: 30px;
    row-gap: 27px;
  }
}

.skillz__item {
  width: 68px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.15s;
}
.skillz__item:hover {
  transform: scale(1.05);
}
@media (min-width: 500px) {
  .skillz__item {
    width: 68px;
    height: 75px;
  }
}
@media (min-width: 768px) {
  .skillz__item {
    width: 88px;
    height: 85px;
  }
}

.skillz__img {
  max-height: 38px;
  margin-bottom: 0;
}
.skillz__title {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 500px) {
  .skillz__img {
    max-height: 42px;
  }
  .skillz__title {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .skillz__img {
    max-height: 52px;
  }
  .skillz__title {
    font-size: 18px;
  }
}
.skills__decor_dots1 {
  position: absolute;
  height: 160px;
  width: 40px;
  background: url("../../images/decor/Ornament_16.png");
  background-size: 100%;
  background-repeat: no-repeat;
  left: 3px;
  top: -60px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .skills__decor_dots1 {
    height: 240px;
    width: 60px;
    left: 3px;
    top: -100px;
  }
}

@media (min-width: 1280px) {
  .skills__decor_dots1 {
    left: -70px;
    top: -70px;
  }
}
.skills__decor_dots-group {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  height: auto;
  width: 80px;
  bottom: -78px;
  right: -10px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .skills__decor_dots-group {
    bottom: -128px;
    right: -30px;
  }
}
.skills__oval {
  border-radius: 50%;
  background-color: #ff8800;
  display: inline-block;
  z-index: 10;
}
._small {
  height: 13px;
  width: 13px;
}
._medium {
  height: 28px;
  width: 28px;
}
@media (min-width: 768px) {
  ._small {
    height: 16px;
    width: 16px;
  }
  ._medium {
    height: 36px;
    width: 36px;
  }
}
